<div *ngIf="errors.length >= 1" class="alert alert-danger" role="alert">
    <span *ngFor="let error of errors">{{ error.message }}</span>
</div>

<div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">
    <a href="/" class="d-flex align-items-center pb-sm-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-5">
            <fa-icon [icon]="['fas', 'list']"></fa-icon>
            {{ title }}
        </span>
    </a>
    <hr class="divider">
    <ul class="nav nav-pills flex-sm-column col-12 flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start list-items" id="menu">
        <ng-container *ngFor="let list of lists">
            <li (click)="showTasks(list.id)" class="nav-link px-sm-0 px-2 click">
                <span class="ms-1 d-none d-sm-inline">{{ list.title }}</span>
            </li>
        </ng-container>
    </ul>
    <hr class="divider">
    <div class="py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1 sidebar-bottom">
        <a (click)="addNewList()" class="d-flex align-items-center text-white text-decoration-none click">
            <span class="d-none d-sm-inline mx-1">
                Nova Lista&nbsp;
                <fa-icon [icon]="['fas', 'plus']"></fa-icon>
            </span>
        </a>
    </div>
</div>
