/* this is needed to make the content scrollable on larger screens */
@media (min-width: 576px) {
    .h-sm-100 {
        height: 100%;
    }
}

.list-items {
    max-height: 45em !important;
    overflow-y: auto;
    width: 18em;
}

.sidebar-bottom {
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 15px;
}
